recursive-include csrc *.cu
recursive-include csrc *.h
recursive-include csrc *.cuh
recursive-include csrc *.cpp
recursive-include csrc *.hpp
recursive-include csrc *.py

recursive-include sparse_flash_attn_2 *.cu
recursive-include sparse_flash_attn_2 *.h
recursive-include sparse_flash_attn_2 *.cuh
recursive-include sparse_flash_attn_2 *.cpp
recursive-include sparse_flash_attn_2 *.hpp
